// importing the google font
// <style>
// @import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
// </style>
$background-color: #1c531d;
$color: #e2e2e2;
$font-family: "Open Sans", sans-serif;

$button-color: #238ab4;
// body styling
html {
  height: 100vh;
}

body {
  background: $background-color;
  color: hsl(0, 0%, 89%);
  border: rem;
  padding: 1rem;
  margin: 0.5rem;
  font-family: $font-family;
  box-sizing: border-box;
}
// section styling
// header {
//   display: flex;
//   flex-direction: column;
// }

body > main {
  text-align: center;
  margin: 1rem;
  border: 6px;
  padding: 10px;
}
//  ----------  card container styling

#card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  // grid-area: 3/2;
  grid-gap: 1rem;
  justify-content: center;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.709);
}

.card-container img:hover {
  transform: scale(1.05); //grows on hover! so cool!
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); //shadow on hover
  border-radius: 14px;
}

// -----------  button styling
#button {
  button {
    background-color: $button-color;
    color: whitesmoke;
    font-size: medium;
    font-family: $font-family;
    // box moodel
    padding: 14px;
    border: none;
    border-radius: 8px;
    margin: 3rem;
    // cursor -soo many opitons!
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.709);
    width: 25%;
  }

  button:hover {
    background-color: #fa9937;
    color: rgb(31, 31, 31);
    transform: scale(1.2); //grows on hover! so cool!
  }
}
