//$Variable:global value;
$margin: 0 auto;
$padding: 2rem;

$border-radius: 6px;
$gap: 3rem;
$background-color: #212121;

//colors----Style Guide
$font-family: "Open Sans", sans-serif;

$pri-text-color: #ffffff;
$sub-text-color: #d3d3d3;
$form-disabled-color: #909090;
$form-text-color: #348fbc;

body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: $font-family;

  //Set background img
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: $background-color; //falback - color|No img loads
  // layout
  height: 100vh; //full window height
  // layout|content
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; //actual content items
}

// Heading Section

#heading {
  // LAYOUT-txt
  text-align: start;
  padding: $padding;
  h1 {
    color: $pri-text-color;
  }
  p {
    color: $sub-text-color;
  }
}

// FORM --------------
#carSearch-form {
  //font
  font-family: $font-family;
  font-size: 2rem;
  //boxModel
  margin: $margin;
  border-radius: $border-radius;
  padding: 2rem;
  max-width: 80%;
  // layout
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  gap: $gap;

  // Labels ----- color/Display!

  #form-group {
    color: #909090;
    display: flex;
    flex-direction: column;
    gap: $gap;

    // padding: 10%;
  }

  // // //Form--> select
  // select {
  //   padding: 0.5rem;
  //   border-radius: 4px;
  //   display: flex;
  //   flex-direction: column;
  // }
}
